// Place all the styles related to the soon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  background-color: #050612;
  color: #bac3c3;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
}


.stars-far{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/stars-far.png');
    z-index: 0;
    background-size: 1900px 900px;
    background-position: center 100%;
    animation: bgAnim 25s infinite;
    animation-timing-function: linear;
  }

  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/stars-far.png');
    z-index: 0;
    background-size: 1900px 900px;
    background-position: center 100%;
    animation: bgAnim1 25s infinite;
    animation-timing-function: linear;
  }

}

.stars-further {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;


  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/stars-further.png');
    z-index: 1;
    background-size: 1900px 900px;
    background-position: center 100%;
    animation: bgAnim 15s infinite;
    animation-timing-function: linear;
  }
  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/stars-further.png');
    z-index: 1;
    background-size: 1900px 900px;
    background-position: center 100%;
    animation: bgAnim1 15s infinite;
    animation-timing-function: linear;
  }

}

.logo {
  max-width: 350px;
}

.centered-section {
  position: relative;
  z-index: 10;
  margin: auto;
  text-align: center;

  h1 {
    font-weight: 300;
  }
}


// Keyframes

@keyframes bgAnim {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes bgAnim1 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

//@keyframes bgAnim {
//  0% {background-position: center 0;}
//  100% {background-position: center 900px;}
//}

@keyframes bgAnimRev {
  0% {background-position: center 100%;}
  50% {background-position: center 0%;}
  100% {background-position: center 100%;}
}